body {
    font-family: Montserrat, sans-serif;
    background-color: rgb(175, 249, 224);
    font-size: 15px;
    text-align: center
    
}
h1, h2  {
    color: brown;
}
.round-img { 
    border-radius: 50% !important

}
#header{
    
    background-size: cover;
    background-position: 50% 50%;
    border: 2px solid green;
}

.minhafoto {
    float: left
}


p {
    
}

